<h1 class="m-3">Stupid Coaching</h1>

<p class="m-3 mb-2">Ask your coach anything:</p>

<div class="row">
  <div class="col-4 m-3">
    <form class="d-flex" action="/answer" data-turbo="false">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
</div>
